<% include include/header.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 align-middle align-self-center ">
        <h1>El mercado ecólogico con huella digital</h1>
        <p>Bienvenido a Axolo Commerce! 🌱</p>
        <p>
          Una plataforma de E-commerce ecólogica y del ADN de las cosas.

          Todo lo que compras ha sido parte de alguna cadena de productos, el ADN te ayudará a entender que impacto
          ecológico estarás evitando y además concientizar sobre el uso y beneficios de la reutilización de productos
          sustentables.

          Axolo Commerce es un ejercicio de comunidad y empatía por el medio ambiente 🪴♻
        </p>
      </div>
      <div class="col-md-4">
        <img src="img/logo.png" class="img-fluid" alt="Logo">
      </div>
    </div>

  </div>
</div>
<% include include/footer.ejs %>
