<% include include/header.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 align-middle align-self-center ">
        <h1>El mercado ecólogico con huella digital</h1>
        <p>Bienvenido a Axolo Commerce! 🌱</p>
      </div>
      <div class="col-md-4">
        <img src="img/logo.png" class="img-fluid" alt="Logo">
      </div>
    </div>

  </div>
</div>


<div class="container">
  <h2>Products list</h2>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
    its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
    to using 'Content here, content here', making it look like readable English.</p>
  <div class="row">
    <% products.forEach(function(product){ %>
    <div class="col-md-3">
      <% include components/product/grid.ejs %>
    </div>
    <% }); %>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div> -->
<% include include/footer.ejs %>
