<% include include/header.ejs %>

<!-- Individual view for product -->

<div class="container mt-5">
  <% products.forEach(function(product){ %>
  <div class="row">
    <div class="col-sm m-r-5">
      <% include components/product/grid.ejs %>
    </div>
    <div class="col-sm m-r-5"">
      <h2 style=" margin-top: 40px;">Mira el ADN de este item</h2>
      <img src="https://api.qrserver.com/v1/create-qr-code/?size=400x400&data=<%= product.uuid %>" class="img-fluid"
        alt="QR Code">
      <p style="margin-top: 15px;">Escanea este código en la app móvil para ver el código ADN de este producto</p>
    </div>
    <div class="col-sm">
      <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">¿Sabías que?</div>
        <div class="card-body">
          <h4 class="card-title">INFO</h4>
          <p class="card-text">La fabricación de pulpa de papel reciclada, en comparación con la generación de pulpa de
            árboles y otras plantas para fabricar nuevos productos de papel, consume menos energía y agua. Reciclar una
            tonelada de papel ahorra energía equivalente a la necesaria para alimentar un hogar promedio durante seis
            meses y ahorra alrededor de 25.000 litros de agua. Al convertir el papel reciclado en nuevos productos de
            papel se ahorra energía y agua porque se reduce la cantidad de pasos y procesos intensivos.</p>
        </div>
      </div>
    </div>
    <% }); %>

    <div class="col-md-12">
      <div id="disqus_thread"></div>
      <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://axolo-commerce.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
          Disqus.</a></noscript>

    </div>
  </div>
</div>
<% include include/footer.ejs %>
